# Ignore all compiled executable files (files without extensions)
*

# Do not ignore folders
!*/

# Do NOT ignore source files, headers, and important files
!*.c
!*.h
!*.md
!*.gitignore

# Ignore VS Code settings folder
.vscode/

# Ignore macOS debug symbol folders generated when compiling with the '-g' flag
*.dSYM/
